# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks
# Activation du module de réécriture d'URL :
RewriteEngine on
#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Masquer l'extension des pages
RewriteRule ^index$  /index.php [L,NC]
RewriteRule ^connexion$  /pages/connexion.php [L,NC]
RewriteRule ^erreur$  /pages/erreur.php [L,NC]